/[if lt IE 8]
  #unsupported-browser
    %p
      %strong Ihr Webbrowser ist veraltet und wird deshalb nicht unterstützt

    %p
      %a{ :href => "http://browsehappy.com/" } Wechseln Sie jetzt auf einen anderen Webbrowser
      oder
      %a{ :href => "http://www.google.com/chromeframe/?redirect=true" } installieren Sie Google Chrome Frame,
      um diese Webseite nutzen zu können.

    %p
      Prüfen Sie bitte auch, ob Sie beim Internet Explorer ggf. die Kompatibilitätsansicht (Menü Seite, Kompatibilitätsansicht) aktiviert haben und deaktivieren Sie diese.

    %p
      Vielen Dank!