%link{ :href => i("/assets/images/favicon/").url, :rel => "shortcut icon", :type => "image/x-icon" }
%link{ :href => i("/assets/images/favicon/").url(:rep => :apple_57), :rel => "apple-touch-icon", :type => "image/png" }
%link{ :href => i("/assets/images/favicon/").url(:rep => :apple_72), :sizes => "72x72", :rel => "apple-touch-icon", :type => "image/png" }
%link{ :href => i("/assets/images/favicon/").url(:rep => :apple_114), :sizes => "114x114", :rel => "apple-touch-icon", :type => "image/png" }
%link{ :href => i("/assets/images/favicon/").url(:rep => :apple_144), :sizes => "144x144", :rel => "apple-touch-icon", :type => "image/png" }
%meta{ :name => "msapplication-TileImage", :content => i("/assets/images/favicon/").url(:rep => :apple_144) }
