<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false"
                 targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="File" path="fehler\404.html" />
      <!-- This won't catch exceptions thrown from .NET code by default, but we use it as
           the configuration for our custom Web.ErrorHandlerModule handler. -->
      <remove statusCode="500" />
      <error statusCode="500" responseMode="File" path="fehler\500.html" />
    </httpErrors>

    <!-- GZip static file content. Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression minFileSizeForComp="1024">
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Vary" value="Accept-Encoding" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="10.00:00:00" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Umleitung auf Hauptdomain">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^<%= Regexp.escape configatron.roles.web.deployment.bindings.first[:host] %>$" negate="true" />
            <!-- The port we use for Selenium testing. -->
            <add input="{SERVER_PORT}" pattern="1337" negate="true" />
          </conditions>
          <action type="Redirect" url="<%= configatron.roles.web.deployment.bindings.first[:protocol] %>://<%= configatron.roles.web.deployment.bindings.first[:host] %>/{R:1}" />
        </rule>
        <rule name="Kleinschreibung erzwingen" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
